	a{
		color:#00ffff;
	}
	h1{
		font-size:700%;
		color: #ee0000;
	}
	

	p{
		font-size: 18;
		color:#ee0000;
	}
	body{
		text-align: center;
		background: #800000; 
		background-position: center;
		background-size: cover;
	}

	input{
		border-radius: 5px;
		border:0;
		padding: 10px;
		font-size: 18px;
		color: #555555;
	}
	button{
		border-radius: 5px;
		background: #ee0000;
		font-size: 18px;
		size: 18px 10px; 
		color: white;	
	}
	.email_submit{
		position: relative;
		margin-top:15%;
	}

