	a{
		color:#00ffff;
	}
	h1{
		font-size:500%;
		color: #ee0000;
	}
	
	h2{
		font-size:40;
		color:#ff00ff;
	}

	p{
		font-size: 18;
		color:#ffffff;
	}
	body{
		text-align: center;
		background: #333333; 
		background-position: center;
		background-size: cover;
	}

	input{
		border-radius: 5px;
		border:0;
		padding: 10px;
		font-size: 18px;
		color: #555555;
	}
	button{
		border-radius: 5px;
		background: red;
		font-size: 18px;
		size: 18px 10px; 
		color: white;	
	}
	.email_submit{
		position: relative;
		margin-top:15%;
	}

