<!DOCTYPE html>

<head>
	<title>0xBU</title>
	<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/style.css')}}">	
	<link href='https://fonts.googleapis.com/css?family=Ubuntu' rel='stylesheet' type='text/css'>
</head>
<body>
	<form action="/" method="post">
	<div class = "email_submit">
		<h1>0xBU</h1>
		<p>Welcome to the 0xBU website!!! </br> submit your email below to recieve weekly updates on upcoming events!!</p>
		<input type="email" name="email" placeholder = "exampleName@bu.edu">
		<button>SUBMIT</button>

	</div>
	<div class = "links">
        <a href="{{ url_for('leaderboard') }}">Check the Leaderboard</a>
        <a href="{{ url_for('helpful_links') }}">Helpful Links</a>
	</div>
	</form>
</body>
